{% cache %}
<header data-header class="active">
    <div class="header__wrapper">
        <a href="/" class="header__title" aria-label="Go to frontpage">
            <div class="header__title--icon"></div>
            <div class="header__title--iconText"></div>
            {# <div class="header__title--text">Haxor.no</div> #}
        </a>
        <div class="header__menu--button">
            <button class="hamburger hamburger--collapse" type="button" data-menu-button data-button-accordian="hamburger-menu" aria-label="Navigation menu">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
        </div>
    </div>
    <div class="menu__wrapper" data-target-accordian="hamburger-menu">
        <div class="menu__search">
            {% if currentSite.handle == "default" %}
                {% set serchUrl = "/" %}
            {% else %}
                {% set serchUrl = "/en" %}
            {% endif %}

            <form action="{{ url(serchUrl) }}">
                <input type="search" name="q" aria-label="Søk" placeholder="{{ 'Search'|t }}" value="{{ craft.app.request.getParam('q')|length ? craft.app.request.getParam('q') }}">
                <button type="submit">Go</button>
            </form>
        </div>
        {% if entry is defined %}
            {% if entry.contentBlocks or entry.lessonBlocks %}
                {% if entry.contentBlocks and entry.contentBlocks|length %}
                    {% set contentBlocks = entry.contentBlocks %}
                {% endif %}
                {% if entry.lessonBlocks and entry.lessonBlocks|length %}
                    {% set contentBlocks = entry.lessonBlocks.all() %}
                {% endif %}
                
                {% if contentBlocks is defined %}
                    <div class="menu__chapter--wrapper">
                        <nav>
                            <ul>
                                <li>
                                    <h3>{{ 'Content'|t }}:</h3>
                                </li>
                                <li>
                                    <a href="#" data-chapter-button-menu="0" class="active">Intro</a>
                                </li>    
                                {% set chapterNr = 0 %}
                                {% for block in contentBlocks %}
                                    {% if block.type == "chapter" %}
                                        {% set chapterNr = chapterNr + 1 %}
                                        <li>
                                            <a href="#ch_{{chapterNr}}" data-chapter-button-menu="{{chapterNr}}">{{ block.headline }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %} 
                            </ul>
                        </nav>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        <div class="menu__language--wrapper">
            <nav>
                <ul>
                    {% set sites = craft.app.sites.getAllSites() %}
                    {% for site in sites %}
                        {% if site.handle != "skarshaugsNoEbook" %}
                            <li>
                                {% if site.handle == "default" %}
                                    {% set siteName = "Norsk" %}
                                    {% set siteClass = "no" %}
                                {% elseif site.handle == "haxorNoEn"%}
                                    {% set siteName = "English" %}
                                    {% set siteClass = "en" %}
                                {% elseif site.handle == "haxorNoKids" %}
                                    {% set siteName = "Kids" %}
                                    {% set siteClass = "kids" %}
                                {% endif %}

                                {% if site.id != currentSite.id %}
                                    <a href="{{ site.getBaseUrl() }}" class="menu__language menu__language--{{ siteClass }}" aria-label="{{siteName}}"></a>
                                {% else %}
                                    <span class="menu__language menu__language--{{ siteClass }}"></span>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="menu__content--wrapper">
            {% set menuItems = globals.menuLink.all() %}
            <nav>
                <ul>
                    {% if menuItems and menuItems|length %}
                        {% for menuItem in menuItems %}
                            <li><a href="{{menuItem.linkEntry.one().getUrl()}}">{{menuItem.linkText}}</a></li>
                        {% endfor %}
                    {% endif %}  
                </ul>

            </nav>

        </div>
    </div>
</header>
{% endcache %}
