{% if entry is defined %}

	{# --- TITLE --- #}
	{% if entry.section.handle is defined and entry.section.handle == 'homepage' %}
		{% set title = "Home | haxor.no"%}
	{% else %}
		{% set title = entry.title|trim ~ ' | ' ~ "haxor.no" %}
	{% endif %}

	{% if entry.url is defined %}
		{% set url = entry.url %}
	{% endif %}

	{% if craft.app.config.general.devMode %}
		{% set title = '🚧 ' ~ title %}
	{% endif %}

	{# --- SEO Description --- #}
	{% if entry.seoDescription is defined and entry.seoDescription|trim|length %}
		{% set seoDescription = entry.seoDescription|trim %}
	{% elseif entry.teaser is defined and entry.teaser|trim|length %}
		{% set seoDescription = entry.teaser|trim %}
	{% else %}
		{% set seoDescription = globals.seoDescription|trim %}
	{% endif %}

	{# --- SEO Image --- #}
	{% if entry.seoImage is defined and entry.seoImage|length %}
		{% set seoImage = entry.seoImage.one.getUrl() %}
	{% elseif entry.articleImage is defined and entry.articleImage|length %}
		{% set seoImage = entry.articleImage.one.getUrl() %}
	{% elseif entry.ctfPlatform is defined and entry.ctfPlatform|length %}
		{% set seoImage = entry.ctfPlatform.one().articleImage.one().getUrl() %}
	{% elseif globals.seoImage is defined and globals.seoImage|length %}
		{% set seoImage = globals.seoImage.one.getUrl() %}
	{% endif %}
{% else %}
	{% set title = "haxor.no" %}
{% endif %}

<title>{{title}}</title>
<meta property="og:title" content="{{title}}"/>
{% if url is defined and url|length %}
	<meta property="og:url" content="{{url}}"/>
{% endif %}
{% if seoImage is defined and seoImage|length %}
	<meta property="og:image" content="{{seoImage}}"/>
{% endif %}
{% if seoDescription is defined and seoDescription|length %}
	<meta property="og:description" content="{{seoDescription}}"/>
	<meta name="description" content="{{seoDescription}}">
{% endif %}

{% include "partials/json-ld.twig" %}