<div class="courseList__item--wrapper">
    <div class="bookList__item--icon"></div>
    <div class="courseList__item--header">
        <div class="bookList__item--illustration">
            {% if book.courseTheme|length %}
                {% set theme = book.courseTheme.one().slug %}
            {% else %}
                {% set theme = "default" %}
            {% endif %}
            {% set thumb = {
                mode: "crop",
                height: 190,
                quality: 75,
                format: 'webp'
            } %}

            <div class="bookList__item--illustrationWrapper">
                <img class="bookList__item--image" src="{{book.bookImage.one().getUrl(thumb)}}" alt="book cover" loading="lazy">
                <div class="bookList__item--categoryIcon">
                    <div class="category__icon category__icon--{{ theme }}"></div>
                </div>
            </div>
            
        </div>
        <div class="courseList__item--description">
            <h3>{{book.title}}</h3>
            <p>{{book.writer}} - {{book.numberOfPages}} sider</p>
            {{book.description}}
        </div>
    </div>
    <div class="courseList__item--review">
        <p>
            {% if book.reviewScore is defined and book.reviewScore|length %}
                <span class="courseList__item--reviewScore courseList__item--reviewScore-{{book.reviewScore}}"></span>
            {% endif %}
            <span class="courseList__item--reviewScoreQuote">"{{book.reviewQuote}}"</span>

        </p>
        
    </div>
    <div class="courseList__item--expanded" data-target-accordian="{{chapter}}-{{loop.index0}}">
        {{book.courseReview}}
        <p>
            <span>{{book.postDate |date("j. F Y")}}</span>
        </p>
    </div>

    
    <button class="courseList__item--accordianButton-wrapper" data-button-accordian="{{chapter}}-{{loop.index0}}">
        <div class="courseList__item--accordianButton-text courseList__item--accordianButton-textShort">{{ 'Review'|t }}</div>
        <div class="courseList__item--accordianButton-icon"></div>
    </button>
</div>