{% set certificate = certificate|default(null) %}
{% set blockIndex = blockIndex|default(null) %}

{% if certificate %}
    {% set badge = certificate.achievementBadge.one() %}
    {% set thumb = {transform: 'achievementBadge'} %}
    {% if certificate.courseTheme|length %}
        {% set theme = certificate.courseTheme.one().slug %}
    {% else %}
        {% set theme = "default" %}
    {% endif %}
    <div class="certList__item">
        <picture>
            <source srcset="{{ badge.getUrl(thumb) }}">
            <img src="{{ badge.getUrl() }}" alt="">
        </picture>
        <div class="certList__item-modal-button" data-open-modal="{{blockIndex}}-{{loop.index0}}">
            <div class="certList__item-modal-button-text">Read description</div>
            <div class="certList__item-modal-button-icon"></div>
            <div class="certList__item-modal-button-overlay"></div>
        </div>
    </div>
{% endif %}


<div class="certList__item-modal-wrapper" data-target-modal="{{blockIndex}}-{{loop.index0}}">
    <div class="certList__item-icon"></div>
    <div class="certList__item-categoryIcon">
        <div class="category__icon category__icon--{{ theme }}"></div>
    </div>
    <div class="certList__item-modal-wrapper-close" data-close-modal="{{blockIndex}}-{{loop.index0}}"></div>
    <div class="certList__item-modal-content">
        <div class="certList__item-header">
            <picture>
                <source srcset="{{ badge.getUrl(thumb) }}">
                <img src="{{ badge.getUrl() }}" alt="">
            </picture>
            <div class="certList__item-description">
                <h3>{{certificate.title}}</h3>
                {{certificate.description}}
            </div>
        </div>
        <p class="certList__item-reviewScoreQuote">"{{certificate.courseReviewQuote}}"</p>
        <div class="certList__item-cert-review">
            {{certificate.courseReview}}
            <p>
                {% if certificate.courseCertificateUrl is defined and certificate.courseCertificateUrl|length %}
                    <a href="{{certificate.courseCertificateUrl}}" target="_blank" class="courseList__item--courseDiploma"></a>
                {% endif %}
                <span>{{certificate.courseCompletedDate|date("j. F Y")}}</span>
                <span> - {{certificate.courseLengthHours >= 0 ? certificate.courseLengthHours ~ "t"}}</span>
            </p>
        </div>
    </div>
</div>