{% set figureMobile = {
    mode: 'fit',
    width: 500,
    quality: 70,
} %}
{% set figureIpad = {
    mode: 'fit',
    width: 800,
    quality: 70,
} %}
{% set figureDesktop = {
    mode: 'fit',
    width: 1000,
    quality: 70,
} %}

{% set imageMobile = {
    mode: 'crop',
    width: 500,
    height: 282,
    quality: 70,
} %}
{% set imageIpad = {
    mode: 'crop',
    width: 800,
    height: 542,
    quality: 70,
} %}
{% set imageDesktop = {
    mode: 'crop',
    width: 1000,
    height: 655,
    quality: 70,
} %}

{% set chapterImage = block.image.one() %}

<div class="chapter__wrapper">
    <div class="chapter__start">
        {% if chapterImage|length %}
            {% if block.imageIsFigure %}
                <picture>
                    {% set altText = block.imageAlt|length ? block.imageAlt : "Bilde / Image" %}
                    <source media="(max-width:500px)" srcset="{{ chapterImage.getUrl(figureMobile)|raw }}">
                    <source media="(max-width:800px)" srcset="{{ chapterImage.getUrl(figureIpad)|raw }}">
                    <source media="(min-width:800px)" srcset="{{ chapterImage.getUrl(figureDesktop)|raw }}">
                    <img class="chapter__image--figure" src="{{ chapterImage.getUrl() }}" alt="{{altText}}">
                </picture>
            {% else %}
                <picture>
                    {% set altText = block.imageAlt|length ? block.imageAlt : "Bilde / Image" %}
                    <source media="(max-width:500px)" srcset="{{ chapterImage.getUrl(imageMobile)|raw }}">
                    <source media="(max-width:800px)" srcset="{{ chapterImage.getUrl(imageIpad)|raw }}">
                    <source media="(min-width:800px)" srcset="{{ chapterImage.getUrl(imageDesktop)|raw }}">
                    <img class="chapter__image--cropped" src="{{ chapterImage.getUrl() }}" alt="{{altText}}">
                </picture>
            {% endif %}
            {% if block.imageCapt|length %}
                <figcaption class="chapter__image--caption">{{block.imageCapt}}</figcaption>
            {% endif %}
        {% endif %}
        

        <h2 id="chapter-{{ chapter }}" class="chapter__headline" data-bookmark>{{ block.chapterHeadline }} </h2>
        {% if block.subtitle|length %}
            <p class="chapter__subtitle">{{ block.subtitle }}</p>
        {% endif %}

    </div>
</div>
