<div class="contentBlocks__fileContent--wrapper">
    <div class="contentBlocks__fileContent--header">
        {{block.fileName}}
    </div>
    <pre rel="{{block.fileType != 'editorconfig' ? block.fileType|upper : ''}}" {{block.lineNumbers? 'class="line-numbers"'}}><code class="language-{{block.fileType}}">{{block.fileContent}}</code></pre>
</div> 


