{% set chapter = chapter|default(null) %}
{% set chapterTask = chapterTask|default(null) %}
{% set entryId = entry.id %}

<div class="contentBlocks__task--wrapper" data-lesson-id="{{ entryId }}" data-lesson-ch="{{ chapter }}" data-lesson-t="{{ chapterTask }}">
    <form method="get" baseUrl="{{ currentSite.baseUrl }}" onsubmit="return false;">
        <div class="contentBlocks__task--content">
            <label for="a">{{ block.question }}</label>
            <input type="text" name="a" placeholder="{{ craft.haxor.getLessonTaskAnswerObfuscated(entry, chapter, chapterTask) }}" data-lesson-task-answer>
        </div>
    </form>
    <div class="contentBlocks__task--buttons">
        <button class="contentBlocks__task--button" data-lesson-task-answer-button>{{"Submit"|t}}</button>
        {# <button class="contentBlocks__task--hint" data-lesson-task-hint-button>{{"Hint"|t}}</button> #}
    </div>
    <div class="lessonTask__icon"></div>
</div>