{% set chapter = chapter|default(null) %}
{% set chapterTask = chapterTask|default(null) %}
{% set entryId = entry.id %}

<div class="contentBlocks__taskDone--wrapper" data-lesson-id="{{ entryId }}" data-lesson-ch="{{ chapter }}" data-lesson-t="{{ chapterTask }}">
    <div class="contentBlocks__taskDone--text">{{ block.taskText }}</div>
    <button class="contentBlocks__taskDone--button">{{"Completed"|t}}</button>
    <div class="lessonTask__icon"></div>
</div>