{% set chapter = chapter|default(null) %}
{% set chapterTask = chapterTask|default(null) %}
{% set entryId = entry.id %}

<div class="contentBlocks__task--wrapper" data-lesson-id="{{ entryId }}" data-lesson-ch="{{ chapter }}" data-lesson-t="{{ chapterTask }}">
    <div class="contentBlocks__task--text">{{ block.taskText }}</div>
    <button class="contentBlocks__task--button" data-lesson-task-done>{{"Completed"|t}}</button>
    <div class="lessonTask__icon"></div>
</div>