{% set terminalComment = "" %}
{% if block.terminalColor == "" %}
    {% set terminalComment = "default" %}
{% elseif block.terminalColor == "neutral" %}
    {% set terminalComment = "Third Party" %}
{% else %}
    {% set terminalComment = block.terminalColor %}
{% endif %}

{% set terminalComment = terminalComment|capitalize ~ " - " ~ block.terminalUserName ~ "@" ~ block.terminalHostName %}

<div class="contentBlocks__terminalDump contentBlocks__terminalDump--{{block.terminalColor == "" ? "default" : block.terminalColor }}" data-terminal-info="{{terminalComment}}">
    <pre class="command-line language-{{block.terminalLanguage}}"  {{block.terminalInputOnly == false ? 'data-output="2-100"'}}><code class="language-{{block.terminalLanguage}}" data-user="{{ block.terminalUserName }}}">{{block.terminalDump}}</code></pre>
</div> 