{% set includedContent = includedContent|default(null) %}
{% if includedContent|length %}
    {% if includedContent and includedContent|length %}
        <table class="thmScoreboard__table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Country</th>
                    <th>Points</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for thmUser in includedContent %}
                <tr id="{{ thmUser.username }}">
                    <th>{{ loop.index }}</th> 
                    <td>
                        <img src="{{ thmUser.avatar }}" alt="{{ thmUser.username }}s avatar" class="thmScoreboard__avatar"> 
                        <span><a href="https://tryhackme.com/p/{{ thmUser.username }}">{{ thmUser.username }}</a></span>
                    </td>
                    <td><span class="thmScoreboard__flag thmScoreboard__flag--{{ thmUser.country }}"></span></td>
                    <td>{{ thmUser.points|number_format(0,""," ") }}</td>
                    <td><a href="#{{ thmUser.username }}" class="thmScoreboard__userLink"></a></td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endif %}
