{% set mobile = {
    mode: 'fit',
    width: 500,
    quality: 70,
} %}
{% set ipad = {
    mode: 'fit',
    width: 800,
    quality: 70,
} %}
{% set desktop = {
    mode: 'fit',
    width: 1000,
    quality: 70,
} %}

{% set chapterImage = block.image.one() %}

<div class="chapter__wrapper">
    <div class="chapter__start">
        <div class="chapter__start-block">
            {% if chapterImage|length %}
                <picture>
                    {% set altText = block.imageAlt|length ? block.imageAlt : "Bilde / Image" %}
                    <source media="(max-width:500px)" srcset="{{ chapterImage.getUrl(mobile) }}">
                    <source media="(max-width:800px)" srcset="{{ chapterImage.getUrl(ipad) }}">
                    <source media="(min-width:800px)" srcset="{{ chapterImage.getUrl(desktop) }}">
                    <img class="chapter__image" src="{{ chapterImage.getUrl() }}" alt="{{altText}}">
                    {% if block.imageCapt|length %}
                        <figcaption class="chapter__image--caption">{{block.imageCapt}}</figcaption>
                    {% endif %}
                </picture>
            {% endif %}

            <h2 id="chapter-{{ chapter }}" class="chapter__headline" data-bookmark>{{ block.chapterHeadline }} </h2>
            
            {% if block.subtitle|length %}
                <p class="chapter__subtitle">{{ block.subtitle }}</p>
            {% endif %}
        </div>
    </div>
</div>
