{% if entry.sectionId == 10 %} {# Lessons #}
    {% set contentBlocks = entry.lessonBlocks %}
{% else %} {# Everything else #}
    {% set contentBlocks = entry.contentBlocks %}
{% endif %}

{% if contentBlocks|length %}
    <div class="article__content--wrapper">
        <div class="article__content--sidebar {{ entry.sectionId == 10 ? "lesson" }}">
            <h3>{{ 'Content'|t }}:</h3>
            <a href="#" data-chapter-button="0" class="active">Intro</a>
            {% set chapterNr = 0 %}
            {% for block in contentBlocks.all() %}
                {% if block.type == "chapter" %}
                    {% set chapterNr = chapterNr + 1 %}
                    <a href="#ch_{{chapterNr}}" data-chapter-button="{{chapterNr}}">{{ block.chapterHeadline }}</a>
                {% endif %}
            {% endfor %}
            {% if entry.sectionId == 10 %}
                <div class="lesson__progress--wrapper">
                    <div class="lesson__progress--bar"></div>
                </div>
            {% endif %}
            
        </div>
        <div class="article__content--main">
            {% set chapterNr = 0 %}
            {% set chapterTaskNr = 0 %}
            {% set chartNr = 0 %}
            {% for block in contentBlocks.all() %}
                {% if block.type == "chapter" %}
                    {% set chapterNr = chapterNr + 1 %}
                {% endif %}
                {% if block.type == "chartLine" or block.type == "chartBarStacked" %}
                    {% set chartNr = chartNr + 1 %}
                {% endif %}
                {% if block.type == "taskDone" %}
                    {% set chapterTaskNr = chapterTaskNr + 1 %}
                {% endif %}
                {% include "_content/_contentBlocks/" ~ block.type with {
                    "chapter": chapterNr,
                    "chapterTask": chapterTaskNr,
                    "chart": chartNr
                } %}
            {% endfor %} 
        </div>
    </div>
{% endif %}