{% if entry.sectionId == 10 %} {# Lessons #}
    {% set contentBlocks = entry.lessonBlocks %}
{% else %} {# Everything else #}
    {% set contentBlocks = entry.contentBlocks %}
{% endif %}
{% set includedContent = includedContent|default(null) %}
{% set includedContentType = includedContentType|default(null) %}
{% set firstChapter = "Intro" %}
{% if includedContentType|length %}
    {% switch includedContentType %}
        {% case "thmScoreboard" %}
            {% set firstChapter = "Leaderboard" %}
        {% case "ctfWriteups" %}
            {% set firstChapter = "Writeups" %}
    {% endswitch %}
{% endif %}


{% if contentBlocks|length %}
    <div class="article__wrapper">
        <div class="article__sidebar {{ entry.sectionId == 10 ? "lesson" }}">
            <h3>{{ 'Content'|t }}:</h3>
            <a href="#" data-chapter-button="0" class="active">{{ firstChapter }}</a>
            {% set chapterNr = 0 %}
            {% for block in contentBlocks.all() %}
                {% if block.type == "chapter" %}
                    {% set chapterNr = chapterNr + 1 %}
                    <a href="#ch_{{chapterNr}}" data-chapter-button="{{chapterNr}}">{{ block.headline }}</a>
                {% endif %}
            {% endfor %}
            {% if entry.sectionId == 10 %}
                <div class="lesson__progress--wrapper">
                    <div class="lesson__progress--bar" data-lesson-progress></div>
                </div>
            {% endif %}
            
        </div>
        <div class="article__content">
            {% if includedContentType|length %}
                {% include "_content/_includedContent/"~ includedContentType ~".twig" with {includedContent: includedContent|length ? includedContent : null} %}         
            {% endif %}

            {% set chapterNr = 0 %}
            {% set chapterTaskNr = 0 %}
            {% set chartNr = 0 %}    
            {% for block in contentBlocks.all() %}
                {% if block.type == "chapter" %}
                    {% set chapterNr = chapterNr + 1 %}
                    {% set chapterTaskNr = 0 %}
                {% endif %}
                {% if block.type == "chartLine" or block.type == "chartBarStacked" %}
                    {% set chartNr = chartNr + 1 %}
                {% endif %}
                {% if block.type == "taskDone" or block.type == "sendInAnswer" %}
                    {% set chapterTaskNr = chapterTaskNr + 1 %}
                {% endif %}
                {% include "components/contentBlocks/" ~ block.type with {
                    "chapter": chapterNr,
                    "chapterTask": chapterTaskNr,
                    "chart": chartNr
                } %}
            {% endfor %} 
        </div>
    </div>
{% endif %}