<!DOCTYPE html>
{% set cashebuster = "1.0.3" %}
<html>
    <head>
        <title>{{entry.title}}</title>
        <meta charset="UTF-8" name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=1' >
        {% if currentSite.handle == "skarshaugsNoEbook" %}
            <link rel="stylesheet" href="/resources/css/kindle.min.css?v={{ cashebuster }}">
        {% else %}
            <link rel="stylesheet" href="/resources/css/site.min.css?v={{ cashebuster }}">
        {% endif %}
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    </head >
    <body>
        {% block header %}
            {% include "partials/_header" %}
        {% endblock header %}
        
        {% block body %}
            <section class="articleBody">
                <div class="article__header">
                    {% if entry.title|length %}
                        <div class="articleTitle">{{entry.title}}</div>
                        <div class="article__imageBorder"></div>
                    {% endif %}
                </div>
                {% set layout = entry.getFieldLayout() %}
                {% for tab in layout.tabs %}
                    {% if tab.name == "Content" or tab.name == "Tab 1" %}
                        {% for field in tab.getFields %}
                            {% include "_content/" ~ field.handle %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </section>   
        {% endblock body %}

        {% block footer %}
            {% include "partials/_footer" %}
        {% endblock footer %}
            
        <script src="/resources/js/site.min.js?v={{ cashebuster }}" async defer></script>
    </body>
</html>