<!DOCTYPE html>
{% set cashebuster = "2.5.0" %}
{% set devMode = craft.app.config.general.devMode %}
{% set livePreview = craft.app.request.isPreview %}
{% set gtmId = 'GTM-5WM4TRN' %}

<html lang="{{currentSite.language }}">
    <head>
        <meta charset="UTF-8" name='viewport' content='initial-scale=1.0, maximum-scale=5.0, user-scalable=yes' >
        {% include "_partials/_analyticsHead" with {
            devMode: devMode,
            livePreview: livePreview,
            gtmId: gtmId
        } %}
        {% include "_partials/_seo" %}
        {% include "_partials/_favicon" %}
        <link rel="stylesheet" href="/resources/css/site.min.css?v={{ cashebuster }}">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    </head >

    <body data-site-language="{{ currentSite.language }}">
        {% include "_partials/_analyticsHead" with {
            devMode: devMode,
            livePreview: livePreview,
            gtmId: gtmId
        } %}
        
        {% block header %}
            {% include "_partials/_header" %}
        {% endblock header %}
        
        <main>
            {% block body %}
            {% endblock body %}
        </main>
        {% block footer %}
            {% include "_partials/_footer" %}
        {% endblock footer %}
            
        <script src="/resources/js/site.min.js?v={{ cashebuster }}" async defer></script>
        <script src="/resources/js/prism.js?v={{ cashebuster }}"></script>
    </body>
</html>
