<section class="articleBody">
    <div class="articleList__search">
        {% if currentSite.handle == "default" %}
            {% set serchUrl = "/" %}
        {% else %}
            {% set serchUrl = "/en" %}
        {% endif %}
        
        <form action="{{ url(serchUrl) }}">
            <input type="search" name="q" aria-label="Søk" placeholder="{{ 'Search'|t }}" value="{{ craft.app.request.getParam('q')|length ? craft.app.request.getParam('q') }}">
            <button type="submit">Go</button>
        </form>
    </div>
    {% if craft.app.request.getParam('q') %}
            <h1 class="articleList__header">{{ 'Search Results'|t }}</h1>

        {% set searchQuery = craft.app.request.getParam('q') %}
        
        {% if currentSite.handle == "default" %}
            {% set serchUrl = "/" %}
        {% else %}
            {% set serchUrl = "/en" %}
        {% endif %}
        {% set articles = craft.entries().search(searchQuery).site(["default", "haxorNoEn", "haxorNoKids"]).section("articles, portfolio, lesson, ctfWriteups").orderBy('score').all() %}

        {% if articles|length %}
            <p class="articleList__subtitle">{{ articles|length }} {{ 'results on'|t }}: "{{ searchQuery }}"</p>

            <div class="articleList__container">
                {% for article in articles %}
                    {% include "_content/_parts/_article.twig" %}
                {% endfor %}
            </div>
        {% else %}
            {% if currentSite.handle == "default" %}
                <p class="articleList__subtitle">Beklager, ingen treff på "{{ searchQuery }}"</p>
            {% else %}
                <p class="articleList__subtitle">Your search for “{{ searchQuery }}” didn’t return any results.</p>
            {% endif %}
        {% endif %}
    {% else %}
	{% cache %}
	<div class="articleList__container">
            {% if currentSite.handle == "haxorNoKids" %}
                {% set articles = craft.entries.site(["haxorNoKids"]).section("lesson").all() %}
            {% else %}
                {% set articles = craft.entries.site(["default", "haxorNoEn","haxorNoKids"]).section("articles, portfolio, ctfWriteups").all() %}
            {% endif %}
            
            {% for article in articles %}
                {% include "_content/_parts/_article.twig" with {article: article} %}
            {% endfor %}
        </div>
	{% endcache %}
    {% endif %}
</section>
