{% set articles = craft.entries.site(["default", "skarshaugsNoEn"]).section("articles, portfolio").all() %}
    <div class="articleList__container">
        {% for article in articles %}
            {% set articleImage = article.articleImage.one() %}
            {% set imageFocalX = articleImage.focalPoint["x"] %}
            {% set imageFocalY = articleImage.focalPoint["y"] %}
            {% set articleListThumb = {
                mode: "crop",
                width: 310,
                height: 210,
                quality: 75,
                position: imageFocalX ~ "," ~ imageFocalY,
            } %}

            {% if article.articleSubject|length %}
                {% set theme = article.articleSubject.one().slug %}
            {% else %}
                {% set theme = "default" %}
            {% endif %}

            <a href="{{ article.getUrl() }}" class="articleList__item category__color--{{theme}}">
                <div class="articleList__item--image" style="background-image: url('{{ articleImage.getUrl(articleListThumb) }}');"></div>
                <div class="articleList__item--headline">{{article.title}}</div>
                <i class="category__icon category__icon--{{ theme }}"></i>

                {% if article.articleTeaser|length %}
                    <div class="articleList__item--teaser">{{article.articleTeaser}}</div>
                {% endif %}
            </a>
        {% endfor %}
    </div>