{{entry.text}}
{{entry.rich_text}}
{% set articles = craft.entries.section("articles").all() %}
<div>
    <ul>
        {% for article in articles %}
        <li>
            <a href="{{ article.getUrl() }}">
                {% set subjects = article.articleSubject.all() %}
                {% if subjects|length %}
                    <span class="articleList__subject--wrapper">
                        {% for subject in subjects %}
                        <span class="articleList__subject--{{subject.slug}}">{{subject.slug}}</span>
                        {% endfor %}
                    </span>
                {% endif %}
                {{article.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


<a href="admin">ADMIN</a>
    